<% trail_segments.each do |segment| %>
  <li>
    <span><%= segment.start %></span>
    <span><%= segment.end %></span>
    <span><%= segment.distance %></span>
    <% if  this_segment_hiked?(segment: segment, user: @user) %>
      <input type="checkbox" checked>
    <% else %>
      <input type="checkbox" >
    <% end %>
  </li>
<% end %>
